spring:
  application:
    name: ${springboot.app.name:eureka-serviceregistry}

server:
  port: 8761

eureka:
  client:
    registerWithEureka: false
    fetchRegistry: false

logging:
  level:
    com:
      netflix:
        eureka: OFF
        discovery: OFF